html, body {
	height: 100%;
}
body {
	background: transparent url('../img/bg.png') left top repeat;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.tg {
	font-family: TradeGothic;
}

#quote {
	position:absolute;
	top: 0;
	right: 0;
}

#bar {
	background: #FFF;
	width: 305px;
	padding: 0 15px;
	height: 100%;
	position: fixed;
	left: 40px;
	top: 0;
	text-align: center;
}

#bar-lines {
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	height: 100%;
}

#pusher {
	height: 40px;
}

.logo {
	display: block;
	margin: 0 auto;
	margin-bottom: 35px;
}

.nav-div {
	margin: 0 auto;
	width: 190px;
	border-bottom: 1px solid #CCC;
}

#nav {
	margin: 25px auto;
	text-transform: uppercase;
	color: #CCC;
	font-size: 18px;
	letter-spacing: 1px;
}
#nav a:link {
	color: #808080;
	text-decoration: none;
}
#nav a:hover {
	color: #333;
}
#nav a:visited {
	color: #808080;
}

.content {
	margin: 0 auto;
	width: 250px;
	text-align: left;
	margin-top: 40px;
}

.header {
	font-family: Georgia;
	font-size: 24px;
	color: #333;
	font-style: italic;
	display: block;
}

.scroller {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	white-space: nowrap;
	vertical-align: top;
}

.scroll-content {
	width: 2000px;
	display: inline-block;
	vertical-align: top;
}

.scroll-pusher {
	width: 410px;
	display: inline-block;
}

.pushed {
	display: inline-block;
}

.work-container {
	height: 100px;
	overflow: hidden;
}